<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestApp.commande.home.title">Commandes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande-my-suffix" [routerLink]="['/commande-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestApp.commande.home.createLabel">
            Create new Commande
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="commandes?.length === 0">
        <span jhiTranslate="gestApp.commande.home.notFound">No commandes found</span>
    </div>
    <div class="table-responsive" *ngIf="commandes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="techID"><span jhiTranslate="gestApp.commande.techID">Tech ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remoteID"><span jhiTranslate="gestApp.commande.remoteID">Remote ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantiteTotal"><span jhiTranslate="gestApp.commande.quantiteTotal">Quantite Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prixTotalCommande"><span jhiTranslate="gestApp.commande.prixTotalCommande">Prix Total Commande</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prixHT"><span jhiTranslate="gestApp.commande.prixHT">Prix HT</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tva"><span jhiTranslate="gestApp.commande.tva">Tva</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validSup"><span jhiTranslate="gestApp.commande.validSup">Valid Sup</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validRes"><span jhiTranslate="gestApp.commande.validRes">Valid Res</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estActif"><span jhiTranslate="gestApp.commande.estActif">Est Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creeLe"><span jhiTranslate="gestApp.commande.creeLe">Cree Le</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creePar"><span jhiTranslate="gestApp.commande.creePar">Cree Par</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifLe"><span jhiTranslate="gestApp.commande.modifLe">Modif Le</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifPar"><span jhiTranslate="gestApp.commande.modifPar">Modif Par</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="factureId"><span jhiTranslate="gestApp.commande.facture">Facture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span jhiTranslate="gestApp.commande.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commercialId"><span jhiTranslate="gestApp.commande.commercial">Commercial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let commande of commandes ;trackBy: trackId">
                <td><a [routerLink]="['/commande-my-suffix', commande.id, 'view' ]">{{commande.id}}</a></td>
                <td>{{commande.techID}}</td>
                <td>{{commande.remoteID}}</td>
                <td>{{commande.quantiteTotal}}</td>
                <td>{{commande.prixTotalCommande}}</td>
                <td>{{commande.prixHT}}</td>
                <td>{{commande.tva}}</td>
                <td>{{commande.validSup}}</td>
                <td>{{commande.validRes}}</td>
                <td>{{commande.estActif}}</td>
                <td>{{commande.creeLe | date:'medium'}}</td>
                <td>{{commande.creePar}}</td>
                <td>{{commande.modifLe | date:'medium'}}</td>
                <td>{{commande.modifPar}}</td>
                <td>
                    <div *ngIf="commande.factureId">
                        <a [routerLink]="['../facture-my-suffix', commande.factureId , 'view' ]" >{{commande.factureId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commande.clientId">
                        <a [routerLink]="['../client-my-suffix', commande.clientId , 'view' ]" >{{commande.clientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commande.commercialId">
                        <a [routerLink]="['../employe-my-suffix', commande.commercialId , 'view' ]" >{{commande.commercialId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/commande-my-suffix', commande.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commande-my-suffix', commande.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'commande-my-suffix', { outlets: { popup: commande.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
