<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestApp.reference.home.title">References</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reference-my-suffix" [routerLink]="['/reference-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestApp.reference.home.createLabel">
            Create new Reference
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="references?.length === 0">
        <span jhiTranslate="gestApp.reference.home.notFound">No references found</span>
    </div>
    <div class="table-responsive" *ngIf="references?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestApp.reference.techID">Tech ID</span></th>
            <th><span jhiTranslate="gestApp.reference.remoteID">Remote ID</span></th>
            <th><span jhiTranslate="gestApp.reference.libelleRef">Libelle Ref</span></th>
            <th><span jhiTranslate="gestApp.reference.valeurRef">Valeur Ref</span></th>
            <th><span jhiTranslate="gestApp.reference.estActif">Est Actif</span></th>
            <th><span jhiTranslate="gestApp.reference.creeLe">Cree Le</span></th>
            <th><span jhiTranslate="gestApp.reference.creePar">Cree Par</span></th>
            <th><span jhiTranslate="gestApp.reference.modifLe">Modif Le</span></th>
            <th><span jhiTranslate="gestApp.reference.modifPar">Modif Par</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reference of references ;trackBy: trackId">
                <td><a [routerLink]="['/reference-my-suffix', reference.id, 'view' ]">{{reference.id}}</a></td>
                <td>{{reference.techID}}</td>
                <td>{{reference.remoteID}}</td>
                <td>{{reference.libelleRef}}</td>
                <td>{{reference.valeurRef}}</td>
                <td>{{reference.estActif}}</td>
                <td>{{reference.creeLe | date:'medium'}}</td>
                <td>{{reference.creePar}}</td>
                <td>{{reference.modifLe | date:'medium'}}</td>
                <td>{{reference.modifPar}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reference-my-suffix', reference.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reference-my-suffix', reference.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reference-my-suffix', { outlets: { popup: reference.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
