<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-my-suffix-heading" jhiTranslate="gestApp.profile.home.createOrEditLabel">Create or edit a Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.techID" for="field_techID">Tech ID</label>
                    <input type="text" class="form-control" name="techID" id="field_techID"
                           formControlName="techID"/>
                    <div *ngIf="editForm.get('techID').invalid && (editForm.get('techID').dirty || editForm.get('techID').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('techID').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('techID').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.remoteID" for="field_remoteID">Remote ID</label>
                    <input type="number" class="form-control" name="remoteID" id="field_remoteID"
                           formControlName="remoteID"/>
                    <div *ngIf="editForm.get('remoteID').invalid && (editForm.get('remoteID').dirty || editForm.get('remoteID').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remoteID').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('remoteID')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                    <div *ngIf="editForm.get('libelle').invalid && (editForm.get('libelle').dirty || editForm.get('libelle').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelle').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelle').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.estActif" for="field_estActif">Est Actif</label>
                    <input type="checkbox" class="form-control" name="estActif" id="field_estActif"
                           formControlName="estActif"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.creeLe" for="field_creeLe">Cree Le</label>
                    <div class="d-flex">
                        <input id="field_creeLe" type="datetime-local" class="form-control" name="creeLe" formControlName="creeLe" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.creePar" for="field_creePar">Cree Par</label>
                    <input type="text" class="form-control" name="creePar" id="field_creePar"
                           formControlName="creePar"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.modifLe" for="field_modifLe">Modif Le</label>
                    <div class="d-flex">
                        <input id="field_modifLe" type="datetime-local" class="form-control" name="modifLe" formControlName="modifLe" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestApp.profile.modifPar" for="field_modifPar">Modif Par</label>
                    <input type="text" class="form-control" name="modifPar" id="field_modifPar"
                           formControlName="modifPar"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
