<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commune">
            <h2><span jhiTranslate="gestApp.commune.detail.title">Commune</span> {{commune.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestApp.commune.techID">Tech ID</span></dt>
                <dd>
                    <span>{{commune.techID}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.remoteID">Remote ID</span></dt>
                <dd>
                    <span>{{commune.remoteID}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.nomCommune">Nom Commune</span></dt>
                <dd>
                    <span>{{commune.nomCommune}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.nomProvince">Nom Province</span></dt>
                <dd>
                    <span>{{commune.nomProvince}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.nomRegion">Nom Region</span></dt>
                <dd>
                    <span>{{commune.nomRegion}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.estActif">Est Actif</span></dt>
                <dd>
                    <span>{{commune.estActif}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.creeLe">Cree Le</span></dt>
                <dd>
                    <span>{{commune.creeLe}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.creePar">Cree Par</span></dt>
                <dd>
                    <span>{{commune.creePar}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.modifLe">Modif Le</span></dt>
                <dd>
                    <span>{{commune.modifLe}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.modifPar">Modif Par</span></dt>
                <dd>
                    <span>{{commune.modifPar}}</span>
                </dd>
                <dt><span jhiTranslate="gestApp.commune.pays">Pays</span></dt>
                <dd>
                    <div *ngIf="commune.paysId">
                        <a [routerLink]="['/pays-my-suffix', commune.paysId, 'view']">{{commune.paysId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commune-my-suffix', commune.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
