<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestApp.langue.home.title">Langues</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-langue-my-suffix" [routerLink]="['/langue-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestApp.langue.home.createLabel">
            Create new Langue
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="langues?.length === 0">
        <span jhiTranslate="gestApp.langue.home.notFound">No langues found</span>
    </div>
    <div class="table-responsive" *ngIf="langues?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestApp.langue.techID">Tech ID</span></th>
            <th><span jhiTranslate="gestApp.langue.remoteID">Remote ID</span></th>
            <th><span jhiTranslate="gestApp.langue.libelle">Libelle</span></th>
            <th><span jhiTranslate="gestApp.langue.estActif">Est Actif</span></th>
            <th><span jhiTranslate="gestApp.langue.creeLe">Cree Le</span></th>
            <th><span jhiTranslate="gestApp.langue.creePar">Cree Par</span></th>
            <th><span jhiTranslate="gestApp.langue.modifLe">Modif Le</span></th>
            <th><span jhiTranslate="gestApp.langue.modifPar">Modif Par</span></th>
            <th><span jhiTranslate="gestApp.langue.pays">Pays</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let langue of langues ;trackBy: trackId">
                <td><a [routerLink]="['/langue-my-suffix', langue.id, 'view' ]">{{langue.id}}</a></td>
                <td>{{langue.techID}}</td>
                <td>{{langue.remoteID}}</td>
                <td>{{langue.libelle}}</td>
                <td>{{langue.estActif}}</td>
                <td>{{langue.creeLe | date:'medium'}}</td>
                <td>{{langue.creePar}}</td>
                <td>{{langue.modifLe | date:'medium'}}</td>
                <td>{{langue.modifPar}}</td>
                <td>
                    <div *ngIf="langue.paysId">
                        <a [routerLink]="['../pays-my-suffix', langue.paysId , 'view' ]" >{{langue.paysId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/langue-my-suffix', langue.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/langue-my-suffix', langue.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'langue-my-suffix', { outlets: { popup: langue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
