<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestApp.habilitation.home.title">Habilitations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-habilitation-my-suffix" [routerLink]="['/habilitation-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestApp.habilitation.home.createLabel">
            Create new Habilitation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="habilitations?.length === 0">
        <span jhiTranslate="gestApp.habilitation.home.notFound">No habilitations found</span>
    </div>
    <div class="table-responsive" *ngIf="habilitations?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestApp.habilitation.techID">Tech ID</span></th>
            <th><span jhiTranslate="gestApp.habilitation.remoteID">Remote ID</span></th>
            <th><span jhiTranslate="gestApp.habilitation.profile">Profile</span></th>
            <th><span jhiTranslate="gestApp.habilitation.ressource">Ressource</span></th>
            <th><span jhiTranslate="gestApp.habilitation.permission">Permission</span></th>
            <th><span jhiTranslate="gestApp.habilitation.acces">Acces</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let habilitation of habilitations ;trackBy: trackId">
                <td><a [routerLink]="['/habilitation-my-suffix', habilitation.id, 'view' ]">{{habilitation.id}}</a></td>
                <td>{{habilitation.techID}}</td>
                <td>{{habilitation.remoteID}}</td>
                <td>{{habilitation.profile}}</td>
                <td>{{habilitation.ressource}}</td>
                <td>{{habilitation.permission}}</td>
                <td>{{habilitation.acces}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/habilitation-my-suffix', habilitation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/habilitation-my-suffix', habilitation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'habilitation-my-suffix', { outlets: { popup: habilitation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
