<div>
    <h2 id="page-heading">
        <span jhiTranslate="gestApp.pays.home.title">Pays</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pays-my-suffix" [routerLink]="['/pays-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gestApp.pays.home.createLabel">
            Create new Pays
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pays?.length === 0">
        <span jhiTranslate="gestApp.pays.home.notFound">No pays found</span>
    </div>
    <div class="table-responsive" *ngIf="pays?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gestApp.pays.techID">Tech ID</span></th>
            <th><span jhiTranslate="gestApp.pays.remoteID">Remote ID</span></th>
            <th><span jhiTranslate="gestApp.pays.nomPays">Nom Pays</span></th>
            <th><span jhiTranslate="gestApp.pays.estActif">Est Actif</span></th>
            <th><span jhiTranslate="gestApp.pays.creeLe">Cree Le</span></th>
            <th><span jhiTranslate="gestApp.pays.creePar">Cree Par</span></th>
            <th><span jhiTranslate="gestApp.pays.modifLe">Modif Le</span></th>
            <th><span jhiTranslate="gestApp.pays.modifPar">Modif Par</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pays of pays ;trackBy: trackId">
                <td><a [routerLink]="['/pays-my-suffix', pays.id, 'view' ]">{{pays.id}}</a></td>
                <td>{{pays.techID}}</td>
                <td>{{pays.remoteID}}</td>
                <td>{{pays.nomPays}}</td>
                <td>{{pays.estActif}}</td>
                <td>{{pays.creeLe | date:'medium'}}</td>
                <td>{{pays.creePar}}</td>
                <td>{{pays.modifLe | date:'medium'}}</td>
                <td>{{pays.modifPar}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pays-my-suffix', pays.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pays-my-suffix', pays.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pays-my-suffix', { outlets: { popup: pays.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
